__pycache__/
*.pyc
# Ignorer tout le dossier data/
data/

# MAIS inclure spécifiquement ces fichiers :
!data/images/cleaned/test_set/cats/cat.16.jpg
!data/audio/cleaned/train/cats/cat_1.wav
!data/data_fusion_model/fusion_mapping.csv
*.waw
alertmanager.yml
config/
C:\Users\briac\Desktop\projet_3\config\kaggle.json
