# FastAPI et dépendances API
fastapi
uvicorn
pytest
prometheus_client

# Bibliothèques Machine Learning et Deep Learning
tensorflow==2.15.0
numpy
scikit-learn
librosa
tqdm
matplotlib
seaborn
opencv-python

# Gestion des API et Web
requests
pydantic
python-multipart

# Tests et monitoring
pytest
fastapi[testclient]
httpx
memory_profiler
